@charset "utf-8";

#wrapper{
    background: #f1f1f1
}
#wrapper header {
    position: relative !important;
    background: #fff!important
}
#wrapper .headerwrap a, #wrapper .user i{
    color: #333
}
#container{
    position: relative;
    max-width: 70%;
    min-width:  880px;
    margin: 40px auto;
    background: #fff;
}
#container:after{
    content:'';
    display: block;
    clear: both
}
#container > div:not(:first-of-type){
    background: #fff;
    padding: 40px 20px 0 250px;
    
}
.tab{
    position: absolute;
    left: 0;
    width: 200px;
    height: 100%;
/*    float: left;*/
/*    background: pink;*/
    height: 100%;
/*    position: relative;*/
    padding: 200px 20px 0 20px;
}
.tab:after{
    content: '';
    display: block;
    clear:both
}
button{
     border: none;
    background: none;
    outline: none;
    cursor: pointer
}
button.on{
    color: #fa2828;
    font-weight: 900
}
.tab h1{
    position: absolute;
    top: 0;
    left: 0;
/*    float: left;*/
    height: 150px;
    width: 100%;
    background: #fa2828;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding: 25px
}
.tab button{
    width: 100%;
    text-align: left;
    height: 80px;
    font-size: 14px;
    font-weight: 800;
    position: relative;
    cursor: pointer;
    padding-left: 10px
}
.tab button:hover{
    color: #fa2828;
}
.tab button:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #d4d4d4;
}

.online.small h1{
    font-size: 18px;
    margin-bottom: 40px;
}
.online .filter{
    width: 100%;
    background: #f1f1f1;
    height: 70px;
    line-height: 70px;
    padding: 0 20px; 
    margin-bottom: 30px;
}
.online .filter button{
    border: 1px solid #d4d4d4;
    background: #fff;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    color: #6e6a67
}
.online .filter span{
    float: right;
    font-size: 11px;
     color: #6e6a67
}
.online .filter span b{
    color: #fa2424;
}
.online ul{
    text-align: center;
    padding: 0 5%;
    max-width: 100%;
    min-width: 600px;
    
}
.online .thumbox{
/*    padding-left: 120px;*/
    position: relative;
    margin-bottom: 25px;
/*    margin-right: 10px;*/
    width:250px;
    display: inline-block;
     padding: 70px 0 0 0;
    text-align: center
}
.online .thumbox .img{
    background: url(../images/link1.png) no-repeat center;
    background-size: contain;
    width: 120px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
        top: 0;
        left: 50%;
/*    top: 50%;*/
/*    left: 0;*/
/*    transform: translateY(-50%);*/
        transform: translateX(-50%);
    text-align: center;
}
.online .thumbox .img a{
    display: inline-block;
   width: 100%;
    height: 100%;
}
.online .thumbox .textbox{
/*    float: left;*/
    height: 100px;
    width: 100%;
    padding:15px 25px;
    
}
.online .thumbox .textbox h3{
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
}
.online .thumbox .textbox p{
    color: #6e6a67;
    font-size: 11px;
}
.online .thumbox .textbox p:first-of-type{
     margin-bottom: 10px;
}


#num{
    text-align: center;
    margin: 30px 0;
    padding: 40px 0;
    position: relative;
    z-index: 2
}
#num:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0;
    border-top: 1px solid #d4d4d4;
    z-index: -1
}
#num span{
    display: inline-block;
    border: 1px solid #d4d4d4;
    margin: 0 2px;
    padding: 5px 10px;
    vertical-align: middle;
    cursor: pointer
}
#num span a{
    font-size: 10px;
}
.currentNum{
    background: #32312f!important;
}
.currentNum a{
    color: #fff
}
#num span:hover{
    background: #d4d4d4;
}
#num span:hover a,#num span:hover i{
    color: #fff
}
footer{
    background: #fff;
    position: relative;
    z-index: 1;
        width: 100%;
    padding:50px 10% 80px;
}

@media (max-width:700px){
   #wrapper header {
    position: fixed !important;
       top: 0;
}
    #container{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    margin-top: 120px;
}
  .tab{
    width: 100%;
    height:100px;
    padding:0  20px 0 0;
}
    .tab > h1{
    position:static;
    float: left;
    height: 100%;
    width: 30%;
}
    .tab .buttontab{
        float: left;
        width: 70%;
        height:100%;
        padding-left: 20px;
    }
   .tab button{
    height: 50%;
}

    #container > div:not(:first-of-type){
        padding:120px 0 0 0;
        width: 100%;
    }
    .online ul{
        min-width: 100%;
        max-width: 100%
    }
    .online ul .thumbox{
        padding: 0 0 0 120px ;
    }
    #online h1{
        display: none;
    }

    .online .thumbox{
    margin-bottom: 25px;
    width:100%;
}
 .online .thumbox .textbox{
     text-align: left;
}
   
.online .thumbox .img{
    background: url(../images/link1.png) no-repeat center;
    left:0;
    transform: translate(0);
}
    #num{
        display: none
    }
    
}