@charset "utf-8";

/*font-family: 'Noto Sans KR', sans-serif;*/

/*
reset,
list-style,
a,
img,.. border:none,
skip,

wrapper size


*/

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body, input{
    font-size: 13px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

img, fieldset{
    border: none;
}

.skip, legend, caption{
    width: 0;
    height:0;
    line-height: 0;
    font-size: 0;
    position: absolute;
    left: -999999999999999px;
    overflow: hidden;
    visibility: hidden;
}

#wrapper{
    max-width: 400px;
    margin: 0 auto;
/*    border: 1px solid;*/
}